<div class="container">
    <h2>CGPA Calcualator</h2>
    <form action="/submit" method="POST">
        <div class="form-group">

            <label for="cars">MicroProcessor and Interfacing</label>
            <select name="mpi">
                <option value="" disabled selected>--Please choose an option--</option>
                <option value=10>S</option>
                <option value=9>A</option>
                <option value=8>B</option>
                <option value=7>C</option>
                <option value=6>D</option>
                <option value=5>E</option>
                <option value=0>F</option>
            </select>

            <label for="cars">Operating Systems</label>
            <select name="os">
                <option value="" disabled selected>--Please choose an option--</option>
                <option value=10>S</option>
                <option value=9>A</option>
                <option value=8>B</option>
                <option value=7>C</option>
                <option value=6>D</option>
                <option value=5>E</option>
                <option value=0>F</option>

            </select><br>

            <label for="cars">Data Structure</label>
            <select name="DS">
                <option value="" disabled selected>--Please choose an option--</option>
                <option value=10>S</option>
                <option value=9>A</option>
                <option value=8>B</option>
                <option value=7>C</option>
                <option value=6>D</option>
                <option value=5>E</option>
                <option value=0>F</option>
            </select>


        </div>
        <div class="form-group">
            <label for="cars">Computer System Hardware</label>
            <select name="csh" id="sub">
                <option value="" disabled selected>--Please choose an option--</option>
                <option value=10>S</option>
                <option value=9>A</option>
                <option value=8>B</option>
                <option value=7>C</option>
                <option value=6>D</option>
                <option value=5>E</option>
                <option value=0>F</option>
            </select>

            <label for="cars">System Administration Lab</label>
            <select name="salab" id="sub">
                <option value="" disabled selected>--Please choose an option--</option>
                <option value=10>S</option>
                <option value=9>A</option>
                <option value=8>B</option>
                <option value=7>C</option>
                <option value=6>D</option>
                <option value=5>E</option>
                <option value=0>F</option>
            </select>

            <label for="cars">Data Structures Lab</label>
            <select name="dslab" id="sub">
                <option value="" disabled selected>--Please choose an option--</option>
                <option value=10>S</option>
                <option value=9>A</option>
                <option value=8>B</option>
                <option value=7>C</option>
                <option value=6>D</option>
                <option value=5>E</option>
                <option value=0>F</option>
            </select>

        </div>

        <div class="form-group">
            <label for="cars">Computer System Hardware Lab</label>
            <select name="cshlab" id="sub">
                <option value="" disabled selected>--Please choose an option--</option>

                <option value=10 selected>S</option>
                <option value=9>A</option>
                <option value=8>B</option>
                <option value=7>C</option>
                <option value=6>D</option>
                <option value=5>E</option>
                <option value=0>F</option>
            </select>

            <label for="cars">Mini Project</label>
            <select name="miniproject" id="sub">
                <option value="" disabled selected>--Please choose an option--</option>

                <option value=10>S</option>
                <option value=9>A</option>
                <option value=8>B</option>
                <option value=7>C</option>
                <option value=6>D</option>
                <option value=5>E</option>
                <option value=0>F</option>
            </select>

        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>